.container {
    height: 10vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1)
}
.container * {
    margin: 0;
    transition: 0.3s;
}

.container *:hover {
    cursor: pointer;
    transform: scale(1.02);
    .moon-icon {
        transform: rotate(-30deg);
    }
}

.container h1 {
    font-size: 18px;
    font-weight: 900;
}

.theme {
    display: flex;
    align-items: center;
}

.theme p {
    margin-left: 10px;
    font-weight: bold;
}

/* Dark Mode */

#dark {
    .container {
        background-color: #2B3844;
        color: #fff;
    }
}